@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Rubik+Doodle+Triangles&display=swap');

body{
    margin: 0;
    
}

#wrapper{
    display: grid;
    grid-template-areas: 
    'dv hd nv'
    'na na na'
    'sc sc sc'
    'ft ft ft';
    height: 100vh;
    width: 100vw;
    margin: auto;
    grid-template-columns: 20vw 65vw 15vw;
    grid-template-rows: 20vh 5vh 60vh 15vh;

}


.logga{
    grid-area: dv;
    background-color: #FF5733;
    
}

.bildlogga{
    height: 20vh;
    margin-left: 25px;
}

header{
    grid-area: hd;
    background-color: #FF5733;

}

h1{
    font-family: Agbalumo;
    font-size: 50px ;
    text-align: center;
    margin-right: 60px;
    margin-top: 15px;
}

.search{
    grid-area: nv;
    background-color: #FF5733;
    display: flex;
    align-items: center;
}

.searchbild{
    height: 30vh;
    margin-left: 0px;
}

.buttons{
    grid-area: na;
    background-color: #d44424;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h3{
    margin-top: 4px;
}

section{
    grid-area: sc;
    background-color: #f6b0a0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#recept1{
    background-color: #f6b0a0 ;
    height: 45vh;
    width: 25vw;
    border-radius: 10px;

}

#bild1{
    background-image: url(../img/kottbullar.jpg);
    background-size: cover;
    height: 33vh;
    width: 25vw;
    border-radius: 10px 10px 0px 0px;
}

.text{
    background-color: white;
    height: 12vh;
    width: 25vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    color: black;
}


#recept2{
    background-color: #f6b0a0;
    height: 45vh;
    width: 25vw;
    border-radius: 10px;
}

#bild2{
    background-image: url(../img/kottfarssas.png);
    background-size: cover;
    height: 33vh;
    width: 25vw;
    border-radius: 10px 10px 0px 0px;
}

#recept3{
    background-color: #f6b0a0;
    height: 45vh;
    width: 25vw;
    border-radius: 10px;
}

#bild3{
    background-image: url(../img/kottfarsgrotta.png);
    background-size: cover;
    height: 33vh;
    width: 25vw;
    border-radius: 10px 10px 0px 0px;
}

footer{
    grid-area: ft;
    background-color: #FF5733;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#wrapper2{
    display: grid;
    grid-template-areas: 
    'dv hd hd hd nv'
    'na na na na na'
    'as as sc2 as2 as2'
    'ft ft ft ft ft';
    height: 100vh;
    width: 100vw;
    margin: auto;
    grid-template-columns: 20vw 5vw 50vw 10vw 15vw;
    grid-template-rows: 20vh 5vh 60vh 15vh;

}

#left{
    grid-area: as;
    background-color: #f6b0a0;
}

ul, ol{
    margin-top: -10px;
    font-size: larger;
}

.rubrik{
    margin-left: 20px;
    /*font-family: agbalumo;*/
    font-size: x-large;

}

#rubrik2{
    margin-top: 0px;
    font-size: x-large;
}

#section_recept{
    grid-area: sc2;
    background-color: #f6b0a0;
    display: flex;
    flex-direction: column;
}

.undertext{
    font-size: x-small;

}

.recept_instruktion{

}

#right{
    grid-area: as2;
    background-image: url(../img/kottbullar.jpg);
    background-size: cover;
    height: 60vh;
}

#wrapper3{
    display: grid;
    grid-template-areas: 
    'dv hd hd nv'
    'na na na na'
    'as3 as3 sc3 sc3'
    'as3 as3 sc4 sc4'
    'ft ft ft ft';
    height: 100vh;
    width: 100vw;
    margin: auto;
    grid-template-columns: 20vw 10vw 55vw 15vw;
    grid-template-rows: 20vh 5vh 50vh 10vh 15vh;
}

#aside_send{
    grid-area: as3;
    background-color: #f6b0a0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#name{
    background-color: lightgrey;
    height: 7vh;
    width: 25vw;
}

#personnummer{
    background-color: lightgrey;
    height: 7vh;
    width: 25vw;
}

#mail{
    background-color: lightgrey;
    height: 7vh;
    width: 25vw;
}

#adress{
    background-color: lightgrey;
    height: 7vh;
    width: 25vw;
}

.fillin{
    color: grey;
}

#section_send{
    grid-area: sc3;
    background-color: #f6b0a0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#fill_in_recipe{
    background-color: lightgrey;
    height: 45vh;
    width: 60vw;

}

#send_button{
    grid-area: sc4;
    background-color: #f6b0a0;
    display: flex;
    justify-content: flex-end;
}

#send{
    margin-right: 30px;
    
}

h4{
    font-size: x-large;
}
